.tabs {
    margin-bottom: 10px;
}
.tabs .tabLink {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}
.tabs .tabLink.selected {
    border-bottom: 3px solid #086992;
    cursor: default;
}

.configWrapper {
    border: black 1px solid;
    padding: 5px;
    margin-bottom: 20px;
}
#configurations .config {
    width: 30%;
    display: inline-block;
    padding: 5px;
}
#configurations .config input {
    margin-right: 10px;
}
#configurations .configureLink {
    padding-left: 5px;
}
#configurationPanel .panelTitle {
    font-size: 2em;
    padding: 20px;
    display: inline-block;
}
.configurationPanelInput {
    margin-top: 20px;
    margin-bottom: 20px;
}
.configurationPanelInput .inputLabel {
    font-weight: bold;
    padding-right: 10px;
}
.configurationPanelInput .configDesc {
    display: block;
    font-style: italic;
}
#logs {
    max-height: 500px;
    overflow-y: auto;
}
#stopScan {
    display: none;
}
#scanParameters input {
    padding: 0;
    margin: 0;
}
#scanParameters td {
    vertical-align: text-top;
    padding-right: 10px;
    padding-bottom: 5px;
}
#excludedPaths {
    padding-top: 5px;
    padding-bottom: 5px;
}
#excludedPaths:empty {
    padding: 0;
}
.excludedPath {
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    margin-right: 5px;
}

#results-panel div {
    margin-top: 10px;
    margin-bottom: 10px;
}
#resultsDetails label {
    display: inline;
    padding: 10px
}
#resultsDetails table {
    margin-bottom: 20px;
}
#resultsDetails th,
#resultsDetails td {
    border: 1px solid;
    padding: 5px;
}
#resultsDetails .resultsPager a {
    padding: 5px;
}
#resultsDetails .resultsPager a.current {
    border-bottom: 1px solid;
    cursor: default;
}
#errorDetailsPanelWrapper td {
    padding: 5px 20px 5px 5px;
}
#resultsDetails .columnsFilters select {
    width: 120px;
}

a.report {
    padding-left: 5px;
}
