# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

# Jahia DX Studio
repository.xml.generated

# JS
/node_modules
/node
/src/main/resources/javascript/ui

# Custom
TODO.md
